[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/Cubbins (bartcubbins)
[access "refs/for/refs/*"]
	read = group user/Cubbins (bartcubbins)
	push = group user/Cubbins (bartcubbins)
	label-Code-Review = -2..+2 group user/Cubbins (bartcubbins)
	label-Verified = -1..+1 group user/Cubbins (bartcubbins)
	rebase = group user/Cubbins (bartcubbins)
	removeReviewer = group user/Cubbins (bartcubbins)
	submit = group user/Cubbins (bartcubbins)
[access "refs/heads/*"]
	read = group user/Cubbins (bartcubbins)
	create = group user/Cubbins (bartcubbins)
	push = +force group user/Cubbins (bartcubbins)
	pushMerge = group user/Cubbins (bartcubbins)
[access "refs/tags/*"]
	push = group user/Cubbins (bartcubbins)
	push = +force group user/Cubbins (bartcubbins)
