config FB_MSM_MDSS_SPECIFIC_PANEL
	depends on FB_MSM_MDSS
	bool
	prompt "Sony MDSS Specific Panel Diver"
	default n
	---help---
	  Sony MDSS Specific Panel Driver provides support for specific
	  Sony Xperia display panels.

config FB_MSM_MDSS_SPECIFIC_PANEL_INCELL
	depends on FB_MSM_MDSS_SPECIFIC_PANEL
	select REGULATOR_QPNP_LABIBB_SOMC
	bool
	prompt "Sony Xperia In-Cell Panel Driver"
	default n
	---help---
	  Sony Xperia In-Cell Panel Driver support.

config FB_MSM_MDSS_EARLY_UNBLANK
	depends on FB_MSM_MDSS_SPECIFIC_PANEL_INCELL
	bool
	prompt "Sony Early Unblank feature for quick display wakeup"
	default y
	---help---
	  Sony Early Unblank feature for quick display wakeup.
