menu "DSP low level drivers/Audio ION/ADSP Loader"

config SND_SOC_MSM_QDSP6V2_INTF
	bool "SoC Q6 audio driver"
	help
	  This will enable all the platform specific
	  interactions towards DSP. It includes asm,
	  adm and afe interfaces on the DSP.

config MSM_ADSP_LOADER
	bool "ADSP loader support"
	help
	  Enable ADSP image loader.
	  The ADSP loader brings ADSP out of reset
	  for the platforms that use APRv2.

config MSM_QDSP6_PDR
	bool "PDR framework driver"

config MSM_QDSP6_SSR
	bool "SSR framework driver"

config MSM_QDSP6_NOTIFIER
	bool "Audio notifier driver"

config MSM_ULTRASOUND
	bool "QDSP6V2 HW Ultrasound support"
	help
	  Enable HW Ultrasound support in QDSP6V2.
	  QDSP6V2 can support HW encoder & decoder and
	  ultrasound processing. It will enable
	  ultrasound data paths between
	  HW and services, calculating input events
	  upon the ultrasound data.

config MSM_AVTIMER
	bool "Avtimer Driver"
	help
	  This driver gets the Q6 out of power collapsed state
	  and exposes ioctl control to read avtimer tick.
	  Enables camera to use for VT call to get avtimer
	  timestamp.

config DTS_SRS_TM
	bool "Enable DTS SRS"
	help
	 To add support for DTS SRS post processing.
	 This support is to configure the post processing
	 parameters to DSP. The configuration includes sending
	 tuning parameters of various modules.

source "techpack/audio/dsp/codecs/Kconfig"

endmenu
