menu "Codec drivers"

config WCD9XXX_CODEC_CORE
	bool "WCD9XXX Codec Core Driver"

config SND_SOC_WCD9XXX_V2
	bool "WCD9XXX v2 Codec Core Driver"

config SND_SOC_WCD9335
	bool "WCD9335 Tasha Codec Driver"

config SND_SOC_WCD_CPE
	bool "WCD CPE Core"

config SND_SOC_WCD_MBHC
	bool "WCD MBHC V2 Module"

config SND_SOC_WCD_MBHC_ADC
	bool "WCD MBHC ADC"

config SND_SOC_WCD_MBHC_LEGACY
	bool "WCD MBHC Legacy"

config SND_SOC_WSA881X
	bool "WSA881x Codec Driver"

config SND_SOC_WSA881X_ANALOG
	bool "WSA881x Analog Codec Driver"

config SND_SOC_WCD_SPI
	bool "WCD SPI driver"

config SND_SOC_MSM_STUB
	bool "Generic MSM Codec Driver"

config SND_SOC_MSM_HDMI_CODEC_RX
	bool "MSM External Display Audio Codec Driver"

config AUDIO_EXT_CLK
	bool "Audio Ref (Up) Clock Module Platform Driver"

config MSM_CDC_PINCTRL
	tristate "MSM Codec Pinctrl"
	select MFD_CORE
	help
	  Enables msm codec pinctrl driver. The pinctrl driver
	  provides support for handling WCD and WSA MSM gpios. This
	  pinctrl driver will handle WCD and WSA gpios pinctrl states.
	  This driver acts as interface between codec and pinctrl
	  framework.

config MSM_CDC_SUPPLY
	tristate "MSM Codec Power Supply"
	help
	  Enables msm codec power supply driver. The power supply
	  driver provides API support for handling WCD and WSA codec
	  power supply enable or disable. This driver acts as interface
	  between codec and regulator framework.

source "techpack/audio/asoc/codecs/msm_bg/Kconfig"

source "techpack/audio/asoc/codecs/msm_sdw/Kconfig"

source "techpack/audio/asoc/codecs/sdm660_cdc/Kconfig"

source "techpack/audio/asoc/codecs/wcd934x/Kconfig"

endmenu
